# Once this is in the local environment, you can use the values below

PORT=3000

# Database
DATABASE_USERNAME=gerency-jokes
DATABASE_PASSWORD=2hN[g3K777
DATABASE_NAME=gerency-jokes
DATABASE_URL=postgresql://gerency-jokes:2hN[g3K777@localhost:5432/gerency-jokes?schema=public
